@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Jost:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
  --aeroblue: #C2E7D9;
  --lightblue : #A6CFD5;
  --darkerblue : #26408B;
  --midnightblue : #0F084B;
  --xiketic: #0D0221;
  --warning: #d18512;

  --font-primary: 'Jost', sans-serif;
}

*, :before, :after {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.785rem !important;
  font-family: var(--font-primary);
}

#delivery-breakdown-header {
  font-weight: 300;
}

hr {
  margin: 0 !important;
  padding: 0;
  border-top:1px solid white !important;
  opacity: 0.9 !important;
}

#banner-header-hr {
  border-top: 3px solid white;
  opacity: 1; 
  width: 125%;
  margin: 0 !important;
  padding: 0 !important;
}

.tb-main.hide-main,
.individual-tb-wrapper.hide-wrapper {
  display: none;
}

.banner-top {
  position:sticky;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.banner-top.hide {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200%);
}

.banner.banner-top {
  background-color: #dadaff;
}

.banner.banner-mid {
  background-color: rgb(35, 35, 70);
  color: #fafafa;
}

.banner-mid .banner-header,
.banner-mid .banner-data {
  color: #fafafa;
}

.banner-header,
.banner-data {
  font-family: var(--font-primary);
  color: #454545;
  padding: 0;
  margin: 0;
}

.banner-header {
  font-size: 1.275rem;
  font-weight: 500;
}

.banner-data {
  font-size: 1.875rem;
  font-weight: 300;
}

.icon-container {
  display: inline-block;
}

.icon {
  font-size: 2rem;
}

.bordered {
  border-right: 1px solid white;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.loading.show-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tb-overall--meta {
  position: relative;
  background-color: #f9f9f9;
}

#map-container {
  height: 100%;
}

.feature {
    fill: #aaa;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.custom-warning {
  background-color: var(--warning);
}

.tooltip, .tooltip-bar{
  position: absolute;
  pointer-events: none;
  background-color: #111d3f;
  color: #fafafa;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
}

.tooltip {
    min-width: 250px;
    padding: 0 3rem;
}

.tooltip-bar {
  padding: 0.25rem 0.75rem;
  opacity: 0;
}

.tooltip-data,
.tooltip-header {
  font-family: 'Jost', sans-serif;
}

.tooltip-data {
  font-size: 1rem;
  font-weight: 600;
}

.tooltip-header {
  font-weight: 300;
  font-style: italic;
  font-size: 1.1275rem;
}

#meta-info-container {
  position: relative;
  right: 0;
  bottom: 0;
  margin: 1.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(2fr auto);
}

#meta-info-wrapper {
   background-color: rgb(242, 242, 242);
   border-radius: 10px;
   padding: .5rem .875rem;
}

#btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

#btn-wrapper {
  padding: 1.5rem 1rem;
  margin: 2rem 0;
  background-color:rgb(242, 242, 242);
  border-radius: 10px;
}



.filter-btn {
  font-family: 'Raleway', sans-serif !important;
  background-color:#0F084B !important;
  color: #fafafa !important;
  transition: all 0.3s ease;
  display: block !important;
  margin: 1rem 0;
}


.filter-btn:hover {
  background-color:#1b1170 !important;
}

.active {
  background-color: #e6e602 !important;
  color:#0D0221 !important;
}

.active:hover {
  background-color: #fff700 !important;
}

#null-postcode-btn {
  visibility: hidden;
  margin-left: 1rem;
  font-family: var(--font-primary);
}

.null-postcode-list-container {
  height: 30vh;
  overflow: auto;
}

/* Bar Chart */

.bar:hover{
  fill: #86bfb2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chart-header {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 2rem;
}

.label {
  font-family: var(--font-primary);
  fill:#909090;

}

/* Toothbrush 2000 Section */

#tb-2000--meta,
#tb-4000--meta {
  position: relative;
  height: 70vh;
}

.tb-wrapper {
  height: 100%;
}

.meta-lead {
  font-family: var(--font-primary);
  font-size: 1.75rem;
  color:rgb(--darkerblue);
  font-weight: 300;
}

#tb-2000-header--container {
  position: relative;

}

.tb-type-header--wrapper {
   margin-right: 2.275rem;
   padding: 2rem 0;
}

#tb-2000-header--wrapper div p {
  font-family: var(--font-primary);
  font-size: 1.275rem !important;
}

#header, .tb-type-header {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 4rem !important;
  font-style: italic;
  color: var(--midnightblue);
}

.tb-strategy--wrapper {
  padding: 0 4rem;
}

.strategy-wrapper,
.meta-detail-header {
    font-family: var(--font-primary);
}


.meta-detail-header {
  font-size: 1.5rem;
  color:rgb(164, 164, 164)
}

.meta-detail {
  font-size: 2rem;
  color: var(--darkerblue);
}

.tb-img {
  transform: rotate(45deg);
  float: left;
  width: 398px;
  height: 142px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 40px 20px #222);
  position: absolute;
  left: 0;
  bottom: calc(250px - 10%);
}

.border--1 {
  border-right: 4px solid #efefef;
  
}

.tb-header--container {
  background: linear-gradient(90deg, rgb(212, 220, 255) 20%, rgba(255,255,255,1) 100%);
}

.barchart-container {
  position: relative;
  margin: 2rem 0;
  font-family: var(--font-primary);
}

.postcode-performance-container {
  margin-bottom: 5rem;
}

.scroll-target {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition: all 1.175s ease-out;
  -o-transition: all 1.175s ease-out;;
  transition: all 1.175s ease-out;
  opacity: 0;
}

.scroll-target.show {
  transform: translateX(0);
  opacity: 1;
}

.tb-img.scroll-target.show {
  transform: rotate(45deg);
}

@media screen and (min-width: 1920px) {

  .tb-wrapper {
    height: 35vh;
  }

  #tb-2000--meta,
  #tb-4000--meta {
    height: 50vh;
  }

}
